body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #31363F;
}

.stopwatch {
    font-size: 40px;
    color: white;
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
    text-align: center;
    border-radius: 35px;
background: #343232;
box-shadow:  11px 11px 22px #242323,
             -11px -11px 22px #444242;
}

.display {
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.controls button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: #777;
}

#laps {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    font-size: 15px;
}

#laps li {
    background-color: #444;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 1.2em;
}
@media (max-width: 600px) {
    .display {
        font-size: 2em;
    }

    .controls button {
        padding: 8px 16px;
        font-size: 0.9em;
    }

    #laps li {
        font-size: 1em;
    }
}
